$primary_colour:#3E84EE;
$secondary_colour:#F1A767;
$accent_colour:#F65E5E;
$bg:#ececec;
$grey_bg:#B2B2B2;
$font:16px;

@mixin flex_row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

@mixin flex_col{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

*{
    font-family: Montserrat ,Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-color: $bg;
}

nav{
    @include flex_row();
    width: 100%;
    height: 4em;
    background-color: #ffffff;
    position: fixed;
    
    #title{
        background-color: transparent;
        margin-left: 5%;
        
        a{
            text-decoration: none;
            font-weight: 500;
            font-size: 20px;
            color:black;
            height:100%;
            width:100%;
            padding: 3px;
        }
    }

    .profile{
        margin-right: 5%;
        @include flex_row();
        width:25%;

        img{
            width:20%;
            height:auto;
            border-radius: 15px;
            max-width: 30px;
            
        }

        a{
            @include flex_row();
            justify-content: space-around;
            width:40%;
            height:100%;
            img{
                width:20%;
                height:auto;
            }
        }
    }
}